@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import "variables";

@mixin WS_reg {
    font-family: 'Work Sans', sans-serif;
}

@mixin WS_semi_bld {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600
}

@mixin WS_bld {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700
}


@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($max-font-size,
    $min-font-size: $max-font-size - 3,
    $min-vw: 320px,
    $max-vw: 1200px) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}


@mixin screen($min, $max:false) {
    @if $max {
        @media screen and (max-width: $max + 'px') and (min-width: $min + 'px') {
            @content
        }
    }

    @else {
        @media screen and (max-width: $min + 'px') {
            @content
        }
    }
}

@mixin shadowMixin {
    -webkit-box-shadow: 3px 3px 20px hsla(0, 0%, 60%, .05);
    box-shadow: 3px 3px 20px hsla(0, 0%, 60%, .09);
}


@mixin createCard($color) {
    color: $color;
    background: rgba($color, 0.3);
    text-transform: capitalize;
    border-radius: 4px;
    padding: 8px 12px;
    width: 90px;
    display: inline-block;
    text-align: center
}



@mixin hoverMixin {
    cursor: pointer;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;

    &:hover {
        -webkit-box-shadow: -4px 8px 30px rgba(0, 51, 153, 0.2), -4px 8px 6px rgba(0, 51, 153, 0.05);
        box-shadow: -4px 8px 30px rgba(0, 51, 153, 0.2), -4px 8px 6px rgba(0, 51, 153, 0.05);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        border-width: 0;
        border-color: transparent;
    }
}


@mixin DashboardTableStyle {
    .table-container {
        .table {
            width: 100%
        }

        tr {
            border-bottom: 1px solid rgba($grey, 0.5);
        }

        th,
        td {
            &:nth-child(1) {
                width: 15%
            }

            &:nth-child(2) {
                width: 15%
            }

            &:nth-child(3) {
                width: 12%
            }

            &:nth-child(4) {
                width: 31%
            }

            &:nth-child(5) {
                width: 15%
            }

            &:nth-child(6) {
                width: 12%
            }
        }

        tbody {
            tr {
                &:last-of-type {
                    border: none;
                }

                td {
                    &:first-of-type {
                        color: $blue
                    }

                    &:nth-of-type(3) {
                        text-transform: capitalize
                    }

                    &:nth-of-type(6) {
                        text-transform: uppercase
                    }
                }

                .failed {
                    color: $red
                }

                .success {
                    color: $green
                }
            }
        }
    }
}


@mixin ISPsStyle {

    .billers-container {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-gap: 20px;

        .biller {
            @include shadowMixin;
            cursor: pointer;
            background: $white;
            border-radius: 4px;
            padding: 16px 24px;
            width: 100%;

            @include screen(425) {
                width: 100%;
                margin: 0 0 24px
            }

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &:nth-of-type(4n) {
                margin-right: 0
            }

            &-name {
                font-size: 16px;
                margin-left: 24px;
            }

            &-img {
                width: 40px;
                height: 40px;
            }
        }
    }
}


@mixin card-style {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    border-radius: 10px;

    &:last-of-type {
        margin: 0
    }

    p {
        font-size: 30px;
    }

    .card-back {

        border-radius: 10px;
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: rgba($red, 0.05);
        border-radius: 10px;
        z-index: 5;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .delete-btn {
            color: $red;
        }
    }

    .card-front {
        background: $blue;
        border-radius: 10px;
        padding: 12px 24px;

        @include screen(650) {
            padding: 12px 16px;
        }

        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-image: url('../assets/svgs/waves.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -350px 50px;

        span {
            font-size: 16px;
            font-weight: bold;
            color: $white
        }

        .top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .mid {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            .last-four {
                font-size: 20px;
                font-weight: bold;
                color: $white
            }

        }

        .btm {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .card-hlder {
                text-transform: uppercase;
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                color: $white
            }
        }

    }
}


@mixin breakdown-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    max-height: 0;
    margin: 0;

    .p-hdr {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .month,
    .amt {
        display: inline-block;
        width: 120px;
        font-size: 14px;
    }

    .amt {
        width: unset
    }

    .brk-dwn-item {
        margin-bottom: 6px;
    }

    &.show {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        max-height: 100%;
        margin-top: 16px;
    }
}


@mixin generic-btn-style {
    margin-top: 56px;
    height: 47px;
    border: none;
    color: $white;
    position: relative;
    background: $blue;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background: $white;
        opacity: 0.3;
        border-radius: 50% 50% 0 0;
        width: 100%;
        height: 0%;
        left: 0;
        bottom: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        pointer-events: none
    }

    span {
        pointer-events: none
    }

    &:hover,
    &:active,
    &:focus {
        background: $blue;
        color: $white;

        &::after {
            height: 200%;
        }
    }

}

@mixin wallet-info-style {
    .card {
        padding: 12px 24px;
        height: 190px;
        background: rgba($blue, 0.05);
        @include shadowMixin;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            background: rgba($blue, 0.05);
            left: 0;
            height: 50px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        &::after {
            left: -150px;
            bottom: 90px
        }

        &::before {
            height: 80px;
            top: 0;
            left: 100px
        }
    }

    .balance {
        font-size: 20px;

        @include screen(768) {
            font-size: 18px
        }

        color: $blue
    }

    p {
        font-weight: bold;
        font-size: 36px;
        word-break: break-all;
        margin: 0;
        min-height: 56px;

        @include screen(768) {
            font-size: 28px
        }
    }
}