$dark-blue: #00143D;
// $blue: #1C589B;
$blue: #003399;
$white: #fff;
$red: #d0021b;
$gray: #dddddd;
$grey: #dddddd;
$dark-green: #00A051;
$green: #4caf50;
$light-green: #E6F6EE;
$orange: #FFA500;

.green {
    color: $green
}

.red {
    color: $red
}