@import 'variables';
@import 'mixins';


.auth-layout {
    background-color: $dark-blue;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    .login,
    .signup,
    .forgot {
        width: 450px;
        margin: 0 auto;
        padding: 9rem 0;

        @include screen(501, 1439) {
            padding: 5rem 0;
        }

        @include screen(320, 500) {
            width: 90%;
            padding: 5rem 0;
        }

        .form {
            padding: 24px;

            @include screen(320, 500) {
                padding: 24px 16px;
            }

            width: 100%;
            background: $white;
            border-radius: 4px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            h1 {
                font-size: 22px;
                margin: 0;
            }



            &-login {
                .forgot-pw-link {
                    margin-top: 32px;
                    text-align: right;
                    color: $blue;
                }

                .submit-btn {
                    margin-top: 8px;
                }
            }
        }

        .new-user-container,
        .old-user-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: $white;
            margin-top: 24px;

            .signup-link,
            .login-link {
                position: relative;
                margin-left: 4px;
                text-decoration: none;
                color: $white;

                &::after {
                    position: absolute;
                    content: '';
                    -webkit-transition: all 0.5s ease-in;
                    transition: all 0.5s ease-in;
                    background: $white;
                    height: 1px;
                    width: 100%;
                    bottom: 16px;
                    left: 0;
                    -webkit-transform-origin: left;
                    transform-origin: left;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                }

                &:hover {
                    text-decoration: none;
                    color: $white;

                    &::after {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1)
                    }
                }
            }

        }
    }


}