@import 'variables';
@import 'mixins';

.dashboard {
    @include DashboardTableStyle;

    .table-container {
        margin-top: 24px;
    }

    .top-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .left-cont {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: calc((100% - 48px) / 3);
            margin: 0 24px 24px 0;

            .card {
                cursor: pointer;
                border-radius: 8px;
                padding: 24px;
                background: $white;
                @include shadowMixin;
                width: calc((100% - 24px) / 2);
                margin: 0 24px 24px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;

                &:nth-of-type(2n) {
                    margin-right: 0
                }

                .svg-cont {
                    background: $white;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                span {
                    display: block;

                    &.text {
                        font-size: 18px;
                        font-weight: 900
                    }
                }

                &:nth-of-type(1) {
                    background: rgba(#F98C65, 0.1)
                }

                &:nth-of-type(2) {
                    background: rgba($orange, 0.1)
                }

                &:nth-of-type(3) {
                    background: rgba($dark-green, 0.1)
                }

                &:nth-of-type(4) {
                    background: rgba($blue, 0.1)
                }
            }
        }

        .middle-cont {
            border-radius: 8px;
            height: 300px;
            svg{
                border-radius: 8px;
            }
        }
    }

}