@import 'variables';
@import 'mixins';

.dashboard {
    @include DashboardTableStyle;
    overflow: hidden auto;

    .last-five {
        font-weight: 900;
        @include fluid-type(20px);
        padding: 24px 25px 0
    }

    .table-container {
        margin-top: 24px;

        tbody {
            tr {

                &:nth-of-type(6),
                &:nth-of-type(7),
                &:nth-of-type(8),
                &:nth-of-type(9),
                &:nth-of-type(10) {
                    display: none
                }
            }
        }
    }

    .top-section {
        margin: 32px 0 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
        grid-gap: 34px;

        .card {
            cursor: pointer;
            width: 100%;
            border-radius: 8px;
            padding: 35px 24px;
            background: $white;
            @include shadowMixin;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            align-items: center;

            &:nth-of-type(2n) {
                margin-right: 0
            }

            &:nth-of-type(1) {
                .svg-cont {
                    background: rgba(#F98C65, 0.1)
                }
            }

            &:nth-of-type(2) {
                .svg-cont {
                    background: rgba($orange, 0.1)
                }

            }

            &:nth-of-type(3) {
                .svg-cont {
                    background: rgba($dark-green, 0.1)
                }

            }

            &:nth-of-type(4) {
                .svg-cont {
                    background: rgba($blue, 0.1)
                }

            }

            .svg-cont {
                background: $white;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-right: 16px;
            }

            span {
                display: block;

                &.text {
                    font-size: 18px;
                    font-weight: 900
                }
            }


        }


        .middle-cont {
            border-radius: 8px;
            height: 300px;

            svg {
                border-radius: 8px;
            }
        }
    }

    .middle-section {
        display: grid;
        grid-template-columns: repeat(3, minmax(438px, 1fr));
        grid-gap: 34px;

        .title-txt {
            font-family: Work Sans;
            font-style: normal;
            font-weight: 600;
            @include fluid-type(24px, 18px);
            line-height: 120%;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #444444;
        }

        .analytics-cont,
        .cards-cont,
        .wallet-cont {
            padding: 24px 25px;
            background: $white;
            border-radius: 8px;
        }

        .wallet-info {
            @include wallet-info-style;
        }

        .cards {
            border-radius: 10px;
            display: flex;
            overflow: hidden;
            height: 190px;
            position: relative;

            &-cont {
                position: relative;

                .next,
                .prev {
                    bottom: 24px;
                    position: absolute;
                    background: rgba($blue, 0.1);
                    border-radius: 30px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 18px;
                    z-index: 2;
                    transition: 0.5s ease-in-out all;

                    svg {
                        width: 14px
                    }

                    &.hide {
                        opacity: 0;
                        transform-origin: bottom;
                        transform: scaleY(0)
                    }
                }

                .next {
                    right: 40%;
                    transform: rotate(180deg)
                }

                .prev {
                    left: 40%;
                }

            }



        }

        .card {
            &-cont {
                position: absolute;
                height: 190px;
                min-width: 100%;
                border-radius: 10px;
                @include shadowMixin;

                &:focus {
                    .card {

                        -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg)
                    }
                }

                &.bank-card {
                    .card-front {
                        -webkit-box-pack: unset;
                        -ms-flex-pack: unset;
                        justify-content: flex-end;

                        .account-num {
                            margin-top: 24px;
                        }
                    }
                }
            }

            @include card-style;
        }

    }

    .select-isp-modal {
        @include ISPsStyle;
    }

}