@import 'variables';
@import 'mixins';

.submit-btn {
    margin-top: 56px;
    height: 40px;
    border: none;
    color: $white;
    position: relative;
    background: $blue;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background: $dark-blue !important;
        opacity: 0.3;
        border-radius: 50% 50% 0 0;
        width: 100%;
        height: 0%;
        left: 0;
        bottom: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }


    &:hover,
    &:active ,&:focus{
        color: $white;
        &::after {
            height: 200%;
            z-index: -1;
        }
        background: $dark-blue !important
    }
}