@import 'variables';
@import 'mixins';

.submit-btn {
    margin-top: 56px;
    height: 40px;
    border: none;
    color: $white !important;
    position: relative;
    background: $blue !important;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background: $dark-blue !important;
        opacity: 0.3;
        border-radius: 50% 50% 0 0;
        width: 100%;
        height: 0%;
        left: 0;
        bottom: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }


    &:hover {
        color: $white;
        background: $dark-blue !important;

        &::after {
            height: 200%;
            z-index: -1;
        }

    }
}


.input-unit {
    position: relative;
    margin-top: 32px;

    input {
        height: 100%
    }


    .form-error-text {
        margin: 0 0 -18px;
        position: absolute;
        bottom: 0;
        color: $red;
        font-size: 12px;
        margin-top: 6px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform-origin: top;
        transform-origin: top;

        &.show {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

        &.hide {
            -webkit-transform: scaleY(0);
            transform: scaleY(0)
        }
    }

    .form-input {
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform-origin: top;
        transform-origin: top;
        height: 48px;
        margin-top: 8px;

        &.show-error {
            border-color: $red
        }

        &.ant-input-disabled {
            border: none;
        }

    }
}


.custom-select {
    label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ant-select {
        margin-top: 8px;
        height: 48px;

        &.show-error {
            .ant-select-selector {
                border-color: $red
            }
        }

        &-selector {
            -webkit-transition: 0.5 all ease-in-out;
            transition: 0.5 all ease-in-out;
            height: 48px !important;
        }

        &-selection {
            &-search {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                &-input {
                    height: 38px !important;
                    padding: 4px 11px !important;
                }
            }

            &-placeholder {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

        }
    }
}


.layout {

    .ant-notification {
        &-notice {
            color: $white;

            &.error {
                background: $red !important;
            }

            &-icon-error,
            &-message,
            &-close,
            &-icon-success {
                color: $white
            }

            &.success {
                background: $green
            }
        }
    }

    .ant-select-selection-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }

    .bank-logo {
        margin-right: 24px;
        width: 40px;
        height: 40px;

        img {
            width: 40px;
            height: 40px;
        }
    }

}