@import 'variables';
@import 'mixins';

%userInfo {
    .user-info {
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        p {
            margin: 0;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            @include fluid-type(16px, 14px);
            line-height: 22px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
        }

        span {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            @include fluid-type(13px, 11px);
            line-height: 18px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #333333;
        }
    }
}

.header {
    z-index: 3;
    position: fixed;
    right: 0;
    top: 0;
    height: 72px;
    background: $white;
    width: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 36px 0 14px;
    @include shadowMixin;


    .logo-cont {
        height: 72px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
            width: 50px;
        }

        .comp-name {
            margin: 0;
            color: $blue;
            font-family: Work Sans;
            font-style: normal;
            font-weight: bold;
            @include fluid-type(24px, 18px);
            line-height: 67px;
            letter-spacing: -0.02em;

            @include screen(1279) {
                margin-left: 32px;
            }
        }
    }

    @include screen(1279) {
        width: 100%;
    }

    @include screen(1279) {
        padding: 0 20px;
    }



    &-list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .nav-title {
            color: rgba(#000, .85);
            font-weight: bold;
            font-size: 24px;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
        }

        .hamburger-container {
            display: none;
            position: absolute;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }

        @include screen(1279) {

            .logo {
                margin-left: 40px;
            }

            .hamburger {
                &-container {
                    display: block;
                }

                display: block;
                background: $blue;
                width: 100%;
                height: 0;
                top: 8px;
                position: relative;
                -webkit-transition: 0.7s all ease-in-out;

                &::after,
                &::before {
                    -webkit-transition: 0.7s all ease-in-out;
                    transition: 0.7s all ease-in-out;
                    content: '';
                    position: absolute;
                    top: 4px;
                    width: 100%;
                    left: 0;
                    height: 2px;
                    background: $blue;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }

                &::before {
                    width: 40%;
                    top: -4px
                }

                &.show {
                    top: 6px;

                    &::after {
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg)
                    }

                    &::before {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        width: 100%;
                        top: 4px;
                    }
                }

            }
        }

    }

    .ant-dropdown-link {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .avatar-cont {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            background: #C4C4C4;

            img {
                max-width: 100%;
            }

        }


        @extend %userInfo;

        .user-info {
            margin-left: 10px;

            @include screen(1279) {
                display: none;
            }
        }
    }

    .ant-dropdown-menu-item {
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        @extend %userInfo;

        .user-info {
            display: none;

            @include screen(1279) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
        }
    }

    svg {
        margin-right: 8px;
        width: 12px;
        height: 14px;
    }

    .logout-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
}