@import 'variables';
@import 'mixins';



.header {
    z-index: 3;
    position: fixed;
    right: 0;
    top: 0;
    height: 72px;
    background: $white;
    width: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 36px 0 14px;
    @include shadowMixin;


    .logo-cont {
        height: 72px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        img {
            width: 50px;
        }
    }

    @include screen(1279) {
        width: 100%;
    }

    @include screen(1279) {
        padding: 0 20px;
    }



    &-list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .nav-title {
            color: rgba(#000, .85);
            font-weight: bold;
            font-size: 24px;
            -webkit-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
        }

        .hamburger-container {
            display: none;
            position: absolute;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        @include screen(1279) {

            .logo {
                margin-left: 40px;
            }

            .hamburger {
                &-container {
                    display: block;
                }

                display: block;
                background: $blue;
                width: 100%;
                height: 0;
                top: 12px;
                position: relative;
                -webkit-transition: 0.7s all ease-in-out;

                &::after,
                &::before {
                    -webkit-transition: 0.7s all ease-in-out;
                    transition: 0.7s all ease-in-out;
                    content: '';
                    position: absolute;
                    top: 4px;
                    width: 100%;
                    left: 0;
                    height: 2px;
                    background: $blue;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }

                &::before {
                    width: 40%;
                    top: -4px
                }

                &.show {
                    top: 8px;

                    &::after {
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg)
                    }

                    &::before {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        width: 100%;
                        top: 4px;

                    }
                }

            }
        }

    }

    .ant-dropdown-link {
        cursor: pointer;

        img {
            width: 20px;
        }

    }

    .ant-dropdown-menu-item {
        a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }
    }

    svg {
        margin-right: 8px;
        width: 12px;
        height: 14px;
    }

    .logout-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
}