@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import 'variables';
@import 'mixins';

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

%widthControl {
    max-width: 1200px;
    margin: 0 calc((100% - 1200px) / 2);

    @include screen(1199) {
        margin: 0;
        max-width: 100vw;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

}

.landing-page {
    font-family: 'Open Sans', sans-serif;


    .small-text {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 137.5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $blue;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @include screen(425) {
            font-size: 11px
        }
    }

    .big-text {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        letter-spacing: -0.02em;
        margin-top: 16px;
        color: #333333;

        @include screen(425) {
            font-size: 18px
        }
    }




    &-header {
        position: fixed;
        width: 100%;
        top: 0;
        height: 72px;
        z-index: 5;
        -webkit-transition: background 0.5s ease-in-out;
        transition: background 0.5s ease-in-out;

        &.show-bg {
            -webkit-transition: background 1s ease-in-out;
            transition: background 1s ease-in-out;
            background: rgba($white, 0.9);
        }

        @include screen(1199) {
            max-width: 100vw;
        }

        &-sub {
            height: inherit;
            @extend %widthControl;

            @include screen(1199) {
                margin: 0;
                max-width: 100vw;
            }

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0 40px;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;


            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;

                a {
                    color: #333333;
                    text-transform: uppercase;
                    margin-left: 27px;
                    font-weight: bold
                }

                li:last-of-type {
                    a {
                        color: $green;
                        padding: 12px;
                        border-radius: 10px;
                        border: 2px solid $green;
                        text-transform: capitalize
                    }
                }

                @include screen(1199) {
                    display: none
                }
            }

            .hamburger-container {
                display: none;
                z-index: 40;
                position: absolute;
                width: 24px;
                height: 24px;
                cursor: pointer;
                right: 24px;
            }

            @include screen(1199) {


                .hamburger {
                    &-container {
                        display: block;
                    }

                    display: block;
                    background: $blue;
                    width: 100%;
                    height: 0;
                    top: 12px;
                    position: relative;
                    -webkit-transition: 0.7s all ease-in-out;

                    &::after,
                    &::before {
                        -webkit-transition: 0.7s all ease-in-out;
                        transition: 0.7s all ease-in-out;
                        content: '';
                        position: absolute;
                        top: 4px;
                        width: 100%;
                        left: 0;
                        height: 2px;
                        background: $blue;
                        -webkit-transform-origin: center;
                        transform-origin: center;
                    }

                    &::before {
                        width: 40%;
                        top: -4px
                    }

                    &.show {
                        top: 8px;

                        &::after {
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            background: $white;
                        }

                        &::before {
                            background: $white;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            width: 100%;
                            top: 4px;

                        }
                    }

                }


            }

            .mobile-nav-container {
                position: absolute;
                width: 100%;
                height: 100vh;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                -webkit-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                -webkit-transform-origin: top;
                transform-origin: top;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                .bg-1,
                .bg-2 {
                    height: 100vh;
                    width: calc(100% / 2);
                    background: $blue;
                    -webkit-transform: scaleY(0);
                    transform: scaleY(0);
                    -webkit-transition: all 1.2s ease-in-out;
                    transition: all 1.2s ease-in-out;
                    -webkit-transform-origin: top;
                    transform-origin: top;
                }

                .bg-2 {
                    -webkit-transition: all 2s ease-in-out;
                    transition: all 2s ease-in-out;
                }

                .nav {
                    &-container {
                        position: absolute;
                        visibility: hidden;
                        background: $blue;
                        opacity: 0;
                        width: 100%;
                        height: 100%;

                        -webkit-transition: all 0.5s ease-in;
                        transition: all 0.5s ease-in;

                        &::after {
                            content: '';
                            position: absolute;
                            background: rgba(255, 255, 255, 0)
                        }
                    }

                    &-list {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;

                        &-item {
                            margin: 24px;

                            a {
                                margin: 0;
                                color: $white;
                            }
                        }
                    }

                }

                &.show {


                    -webkit-transform: scaleY(1);


                    transform: scaleY(1);

                    .bg-1,
                    .bg-2 {
                        -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                        border-radius: 0;
                    }

                    .nav-container {
                        visibility: visible;
                        opacity: 1;
                        -webkit-transition: all 1.5s 0.5s ease-in;
                        transition: all 1.5s 0.5s ease-in;
                    }
                }
            }
        }
    }


    .section-1 {
        background: $light-green;
        padding-top: 140px;

        &-sub {
            @extend %widthControl;
            height: 100%;

            h1 {
                font-weight: bold;
                max-width: 488px;
                margin: 0 auto;
                font-size: 72px;
                text-align: center;
                line-height: 72px;
                letter-spacing: -0.02em;
                color: #333333;
                font-family: 'Work Sans', sans-serif;

                @include screen(425) {
                    font-size: 48px
                }

            }

            p {
                margin: 12px auto 0;
                max-width: 687px;
                top: 371px;
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                line-height: 140%;

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-align: center;

                color: #4A4A4A;

                @include screen(425) {
                    font-size: 16px
                }
            }

            .view-pricing-btn {
                border: none;
                background: $dark-green;
                color: $white;
                width: 187px;
                margin: 32px auto 0;
                height: 59px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding: 20px 41px;
                border-radius: 10px;
                font-size: 16px;
                font-weight: bolder;
            }

            .iphone-ss {
                display: block;
                margin: 80px auto 0;

                @include screen(425) {
                    width: 80%
                }


            }
        }
    }

    .section-2 {
        overflow-x: hidden;

        &-sub {
            padding-top: 250px;

            @include screen(425) {
                padding-top: 48px
            }

            @extend %widthControl;
            position: relative;

            .bubble {
                position: absolute;
                top: -180px;
                z-index: -1;
                left: -54px;
                background: $light-green;
                width: 170px;
                height: 170px;
                border-radius: 50%;

                &::after {
                    content: '';
                    position: absolute;
                    background: $light-green;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    right: -70px;
                    top: 140px;
                }

                @include screen(768) {

                    display: none
                }
            }



            .process {


                &-card {
                    @include hoverMixin;
                    width: 359px;

                    @include screen(375) {
                        width: 300px;
                    }

                    // height: 494px;
                    background: $white;
                    padding: 48px;
                    margin: 58px 10.5px 0;
                    border: 1px solid $grey;
                    border-radius: 10px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    p {
                        margin: 20px 0 16px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 120%;
                        text-align: center;
                        color: #333333;

                        @include screen(375) {
                            font-size: 18px;
                        }

                    }

                    span {
                        max-width: 274px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;

                        @include screen(375) {
                            font-size: 13px;
                        }

                        line-height: 22px;
                        text-align: center;
                        color: #4A4A4A;
                    }

                    &s-container {
                        margin: 0 0 200px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    }

                }
            }
        }
    }

    .section-3 {
        background: $dark-blue;
        z-index: 1;
        position: relative;

        .section-3-sub {
            @extend %widthControl;
            padding: 115px 123px;
            position: relative;

            @include screen(800) {
                padding: 115px 24px 0;
            }

            h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 120%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                letter-spacing: -0.02em;
                color: $white;
                max-width: 298px;

                @include screen(1170) {
                    max-width: 100%;
                }
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 137.5%;
                color: rgba($white, 0.8);
                max-width: 421px;

                @include screen(1170) {
                    max-width: 100%;
                }
            }

            .to-register-link {
                color: $white;
                background: $dark-blue;
                padding: 12px;
                border-radius: 10px;
                border: 2px solid $white;
                width: 176px;
                height: 59px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 50px;
                font-weight: bold;
                font-size: 16px
            }

            .calculator {
                background: $blue;
                border-radius: 10px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                position: absolute;
                right: 40px;
                bottom: 0;
                padding: 82px 50px;

                @include screen(1170) {
                    position: relative;
                    right: 0;
                    margin: 48px auto 0;
                    width: 590px;
                }

                @include screen(768) {
                    width: 100%
                }

                @include screen(425) {
                    padding: 48px 24px;
                }

                &-sub {
                    width: 490px;
                    margin: 0 auto;

                    @include screen(650) {
                        width: 100%;
                        margin: 0;
                    }
                }

                label {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;

                    @include screen(425) {
                        font-size: 11px
                    }

                    line-height: 137.5%;
                    /* or 18px */

                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    color: rgba($white, 0.8);
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    text-transform: uppercase;
                    margin-bottom: 36px;
                    position: relative;


                    input {
                        margin-top: 12px;
                        background: #00297A;
                        height: 56px;
                        border: none;
                        border-radius: 5px;
                        color: $white;
                        font-weight: bold;
                        font-size: 22px;
                        padding-left: 24px;

                        @include screen(425) {
                            font-size: 16px
                        }


                        &::-webkit-input-placeholder {
                            opacity: 0.3
                        }

                        &:-ms-input-placeholder {
                            opacity: 0.3
                        }

                        &::-ms-input-placeholder {
                            opacity: 0.3
                        }

                        &::placeholder {
                            opacity: 0.3
                        }

                    }


                    .form-error-text {
                        margin: 0 0 -18px;
                        position: absolute;
                        bottom: 0;
                        color: $red;
                        font-weight: bold;
                        font-size: 12px;

                        @include screen(425) {
                            font-size: 10px
                        }

                        margin-top: 6px;
                        -webkit-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                        -webkit-transform-origin: top;
                        transform-origin: top;
                        text-transform: none;

                        &.show {
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                        }

                        &.hide {
                            -webkit-transform: scaleY(0);
                            transform: scaleY(0)
                        }
                    }

                    .ant-select {
                        margin-top: 12px;
                        width: 100%;

                        svg {
                            fill: $white
                        }

                        &-selector {
                            background: #00297A;
                            height: 56px;
                            border: none;
                            border-radius: 5px;
                            color: $white;
                            font-weight: bold;
                            font-size: 22px;
                            padding-left: 24px;

                            @include screen(425) {
                                font-size: 16px
                            }
                        }

                        &-selection {
                            &-placeholder {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                color: $white;
                                opacity: 0.3;
                            }

                            &-item {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                color: $white;
                            }
                        }
                    }

                }


                .breakdown {
                    margin: 40px 0 32px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;

                    .left,
                    .right {
                        width: 50%;

                        @include screen(350) {
                            width: 100%;
                        }

                        p {
                            font-size: 16px;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 25px;

                            @include screen(425) {
                                font-size: 13px
                            }
                        }
                    }
                }

                .assurance {

                    .top,
                    .bottom {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;


                        p {
                            display: inline-block;
                            max-width: 50%;
                            font-size: 16px;
                            font-weight: normal;
                            position: relative;

                            @include screen(425) {
                                font-size: 13px
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                height: 8px;
                                width: 16px;
                                border-radius: 2px;
                                border: 3px solid $white;
                                border-left-width: 0;
                                border-bottom-width: 0;
                                -webkit-transform: rotate(135deg);
                                transform: rotate(135deg);
                                right: -28px;
                                top: 4px;
                            }
                        }

                        @include screen(600) {
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;

                            p {
                                max-width: 100%;

                                &::after {
                                    right: -12px !important
                                }
                            }
                        }
                    }

                    .top>p:first-of-type::after {
                        right: 10px
                    }
                }
            }
        }

        .ellipse-svg-cont {
            position: absolute;
            top: 20px;
            left: -156px;
            z-index: -1;

            @include screen(1170) {
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            @include screen(768) {
                display: none
            }
        }
    }

    .section-4 {
        z-index: 1;
        position: relative;
        overflow-x: hidden;

        .floating-text {
            z-index: -1;
            position: absolute;
            right: 0;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            font-style: normal;
            font-weight: 800;
            font-size: 162.657px;
            line-height: 137.5%;
            /* or 224px */

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            letter-spacing: -0.055em;
            top: 0;
            bottom: 0;
            right: -384px;
            color: $light-green;

            @include screen(600) {
                display: none
            }

        }

        .section-4-sub {
            @extend %widthControl;
            padding: 200px 123px;
            position: relative;

            @include screen(767) {
                padding: 70px 0;
            }

            .reason-container {

                .top,
                .bottom {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-top: 64px;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                }

                .reason {
                    width: 312px;
                    margin: 0 12px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    @include screen(767) {
                        margin-bottom: 24px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    p {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 33px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        text-align: center;

                        color: #333333;

                        @include screen(767) {
                            font-size: 18px;
                        }

                    }

                    span {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;

                        color: #4A4A4A;

                        @include screen(767) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .section-5 {
        @extend %widthControl;
        padding: 200px 123px;
        position: relative;
        z-index: 1;
        overflow-x: hidden;

        @include screen(767) {
            padding: 50px 0;
        }

        .traced-path-cont {
            top: 200px;
            left: 0;
            position: absolute;
            z-index: -1;

            @include screen(767) {
                display: none
            }
        }

        .links-to-stores {
            position: relative;
            background: $light-green;
            max-width: 1120px;
            margin: 0 auto;
            min-height: 325px;
            border-radius: 40px;
        }
    }

    .section-6 {
        @extend %widthControl;
        padding: 50px 123px;
        position: relative;
        overflow-x: hidden;

        @include screen(425) {
            padding: 25px 0;
        }

        .bubble {
            position: absolute;
            border-radius: 50%;
            background: $light-green;
            right: -50px;
            width: 150px;
            height: 150px;
            right: -100px;
        }

        .ant-collapse {
            max-width: 960px;
            margin: 58px auto 0;

            &-header {
                background: $white;
                border: 1px solid $green;
                border-radius: 8px !important;
                position: relative;
                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;

                @include screen(425) {
                    font-size: 12px
                }

                &::after {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 10px;
                    right: 20px;
                    top: 20px;
                    background: $green
                }

                &::before {
                    position: absolute;
                    content: '';
                    height: 10px;
                    width: 2px;
                    right: 24px;
                    top: 16px;
                    background: $green;
                    -webkit-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    -webkit-transform: scaleY(1);
                    transform: scaleY(1);
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }

                &[aria-expanded="true"] {
                    border-color: transparent;
                    border-radius: 0 !important;
                    @include shadowMixin;

                    &::before {
                        -webkit-transform: scaleY(0);
                        transform: scaleY(0)
                    }
                }
            }

            &-item {
                border: none;
                margin-bottom: 12px;
            }

            &-content {
                background: $light-green
            }
        }

        .push-to-reg {
            background: $green;
            border-radius: 8px;
            height: 50px;
            width: 100%;
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: $white;
            padding-left: 18px;
            position: relative;

            &::after {
                content: '>>>';
                position: absolute;
                right: 24px;
                color: $white;
            }

            @include screen(425) {
                font-size: 10px;
            }


        }
    }

    .section-7 {
        @extend %widthControl;
        padding: 100px 46px 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .illustration-container {
            width: 100%;
            max-width: 569.04px;

            @include screen(425) {
                img {
                    width: 80%
                }
            }
        }

        .right-col {
            max-width: 320px;
            width: 100%;
            margin-left: 64px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;

            p {
                margin-top: 24px;
                width: 327px;
            }

            @include screen(425) {
                max-width: 100%;
                margin: 24px 0 0;

                p {
                    width: 100%
                }
            }
        }
    }

    .section-8 {
        background: $light-green;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .footer {
            @extend %widthControl;
            padding: 118px 46px;

            @include screen(1199) {
                position: relative;
                right: 0;
                margin: 48px 0 0;
                width: 100%;
                padding: 118px 24px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            @include screen(425) {
                padding: 48px 24px 24px;
            }



            &-item {
                margin: 0 68px 24px 0;

                @include screen(1170) {
                    margin: 0 0 24px;
                    width: calc(100% / 3)
                }

                @include screen(768) {
                    margin: 0 24px 24px 0;
                    width: calc((100% - 48px) / 2)
                }


                @include screen(425) {
                    margin: 0 0 24px;
                    width: 100%
                }


                &.t-n-c {
                    li {
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: max-content
                    }
                }


                h4 {
                    color: #333333;
                    width: 83px;
                    height: 48px;
                    font-size: 20px;
                    font-weight: bold;
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    -webkit-box-ordinal-group: 1;
                    -ms-flex-order: 0;
                    order: 0;
                    -ms-flex-item-align: start;
                    align-self: flex-start;
                    margin: 0 15px 0 0;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin: 16px 0;
                        max-width: 243px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        svg {
                            margin-right: 12px;
                            width: 16px;
                        }
                    }
                }
            }

        }
    }
}