@import 'variables';
@import 'mixins';

.loans {

    .pagination-container {
        position: absolute;
        bottom: 36px;
        width: calc(100% - 160px);
        right: 36px;

        @include screen(1279) {
            width: 100%
        }

        @include screen(1279) {
            right: 20px;
        }

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        .ant-pagination {
            &-item {
                border-width: 0;
                -webkit-transition: 0.25s all ease-in-out;
                transition: 0.25s all ease-in-out;

                &-active {
                    border: 1px solid $blue;

                    a {
                        color: $blue
                    }
                }

                &-link {
                    border: none;

                    &:disabled {
                        cursor: not-allowed;
                    }

                    cursor: pointer;
                }
            }

        }
    }

    .search-container {
        margin: 16px 0 36px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .ant-input-group-wrapper {

            width: calc(100% - 20% - 64px);
            margin-right: 64px;
        }


        .ant-input-search {
            height: 48px;

            input {
                height: 48px;
                border: none;
                border-radius: 4px;
                -webkit-box-shadow: none;
                box-shadow: none;

                &::-webkit-input-placeholder {
                    font-size: 14px
                }

                &:-ms-input-placeholder {
                    font-size: 14px
                }

                &::-ms-input-placeholder {
                    font-size: 14px
                }

                &::placeholder {
                    font-size: 14px
                }
            }
        }


        .ant-input-group-addon {
            width: 20%
        }

        .ant-btn {
            color: $white;
            position: relative;
            text-transform: capitalize;
            background: $blue;
            overflow: hidden;
            border: none;
            border-radius: 4px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            z-index: 0;
            padding: 11px 24px;
            width: 100%;
            height: 100%;


            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                background: $dark-blue;
                opacity: 0.3;
                border-radius: 50% 50% 0 0;
                width: 100%;
                height: 0%;
                left: 0;
                bottom: 0;
                -webkit-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }


            &:hover,
            &:active {
                color: $white;

                &::after {
                    height: 200%;
                    z-index: -1;
                }
            }
        }




        .link-container {
            min-width: 150px;
            width: 20%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            a {
                color: $white;
                position: relative;
                background: $blue;
                overflow: hidden;
                border: none;
                width: 100%;
                border-radius: 4px;
                text-align: center;
                z-index: 0;
                padding: 12px 24px;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    background: $dark-blue;
                    opacity: 0.3;
                    border-radius: 50% 50% 0 0;
                    width: 100%;
                    height: 0%;
                    left: 0;
                    bottom: 0;
                    -webkit-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }


                &:hover,
                &:active {
                    color: $white;

                    &::after {
                        height: 200%;
                        z-index: -1;
                    }
                }
            }


        }
    }

    .table-container {
        .table {
            width: 100%
        }

        tr {
            border-bottom: 1px solid rgba($grey, 0.5);
        }

        th,
        td {

            &:nth-child(1) {
                width: 15%
            }

            &:nth-child(2) {
                width: 15%
            }

            &:nth-child(3) {
                width: 17.5%
            }

            &:nth-child(4) {
                width: 17.5%
            }

            &:nth-child(5) {
                width: 15%
            }

            &:nth-child(6) {
                width: 15%
            }

            &:nth-child(7) {
                width: 10%;
                text-align: right;

                .ellipsis {
                    cursor: pointer;
                }
            }
        }

        tbody {
            tr {
                &:last-of-type {
                    border: none;
                }
            }
        }
    }

    .form-repay-loan {
        span {

            font-size: 14px;
            line-height: 1.5715;
            display: block
        }

        .amount-owed {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 24px
        }
    }

    .view-loan-modal {
        h1 {
            font-size: 18px;
            font-weight: bold;

            span {
                width: 160px;
                display: inline-block;

                &:last-of-type {
                    font-weight: normal;
                    width: 120px !important
                }
            }
        }

        .ant-spin {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }


        .rejection-reason {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            span {
                font-size: 16px;
                text-transform: capitalize;

                &:first-of-type {
                    display: block;
                    font-weight: bold;
                    width: 160px;
                }
            }
        }

        p:not(.rejection-reason) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            span {
                font-size: 16px;
                text-transform: capitalize;

                &:first-of-type {
                    display: block;
                    font-weight: bold;
                    width: 160px;
                }
            }
        }
    }
}