@import 'variables';
@import 'mixins';

.protected-layout {
    background-color: $white;
    height: 100vh;
    width: 100%;

    .header{
        height: 72px;
        background: $white;
        opacity: 0.5;
        width: calc(100% - 200px);
        margin-left: auto
    }

    .sidebar {
        top: 0;
        left: 0;
        position: fixed;
        padding: 6rem 0;
        width: 200px;
        height: 100%;
        background: $dark-blue;

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;

            &-item {
                margin-bottom: 24px;
            }
        }

        &-link {
            display: block;
            width: 100%;
            padding: 8px 24px;
            -webkit-transition: background 0.5s ease-in-out;
            transition: background 0.5s ease-in-out;

            &:hover {
                background: $blue;
            }
            &.active-route{
                background: $blue
            }

            &-name {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .main {
        width: calc(100% - 200px);
    }
}