@import 'variables';
@import 'mixins';

.wallet {
    @include DashboardTableStyle;

    .top-section {
        padding-bottom: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;



        .bank-card-info-container {
            width: 100%;

            .ant-tabs-tabpane {
                padding: 36px 24px;
                background: $white;
                border-radius: 4px;
                @include shadowMixin;
                display: grid;
                grid-gap: 24px;
                grid-template-columns: repeat(3, minmax(250px, 1fr));

                @include screen(1025, 1575) {
                    grid-template-columns: repeat(2, minmax(250px, 1fr));
                }

                @include screen(889) {
                    grid-template-columns: repeat(2, minmax(250px, 1fr));
                }

                @include screen(610) {
                    grid-template-columns: 1fr
                }

            }

            .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
                color: $blue;
                font-weight: 500;
            }

            .ant-tabs-ink-bar {
                background: $blue;
            }

            .empty-state {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                span {
                    text-align: center
                }

                .custom-btn {
                    margin-top: 40px;
                    width: 200px;
                }
            }

            .wallet-info {
               @include wallet-info-style;
                .btns-cont {
                    margin: 18px 0 0;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
                    grid-gap: 40px;
                    .custom-btn{
                        width: 100%;
                        margin: 0
                    }
                }
            }

            .add-card {
                background: transparent;
                border: 1px solid $grey;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                .custom-btn {
                    padding: 12px 24px;
                    margin: 0;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    background: transparent;

                    span {
                        color: $blue
                    }
                }
            }

            .card {
                &-cont {
                    position: relative;
                    height: 190px;
                    width: 100%;
                    border-radius: 10px;
                    @include shadowMixin;

                    &:focus {
                        .card {

                            -webkit-transform: rotateY(180deg);
                            transform: rotateY(180deg)
                        }
                    }

                    &.bank-card {
                        .card-front {
                            -webkit-box-pack: unset;
                            -ms-flex-pack: unset;
                            justify-content: flex-end;

                            .account-num {
                                margin-top: 24px;
                            }
                        }
                    }
                }

                @include card-style;
            }
        }

    }


    .form {
        .input-unit:first-of-type {
            margin-top: 0;
        }
    }

    .confirm-delete-modal {
        .action-explanation {
            font-size: 16px;
        }

        .btns-cont {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;

            .delete {
                margin-left: 24px;
            }
        }
    }
}