@import 'variables';
@import 'mixins';

.loans {


    .top-section {
        padding-bottom: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .wallet-info-container,
        .bank-info-container,
        .card-info-container {
            width: calc((100% - 72px)/ 3);
            margin: 0 36px 24px 0;

            h3 {
                text-transform: capitalize;
                font-size: 16px;
                margin: 13px 0 24px
            }

            .wallet-info,
            .card-info,
            .bank-info {
                padding: 52px 24px;
                height: 338px;
                background: $white;
                border-radius: 4px;
                @include shadowMixin;
            }
        }

        @include screen(1024) {

            .wallet-info-container,
            .bank-info-container,
            .card-info-container {
                width: calc((100% - 36px)/ 2);
            }

            .bank-info-container {
                margin-right: 0;
            }
        }

        @include screen(768) {

            .wallet-info-container,
            .bank-info-container,
            .card-info-container {
                width: 100%;
                margin-right: 0;

                .wallet-info,
                .card-info,
                .bank-info {
                    padding: 36px 12px;
                }
            }


        }


        .wallet-info {
            span {
                font-size: 20px;
                color: $blue
            }

            p {
                font-weight: bold;
                font-size: 36px;
            }

        }

        .bank-info,
        .card-info {
            .empty-state {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                span {
                    text-align: center
                }

                .custom-btn {
                    margin-top: 40px;
                    width: 200px;
                }
            }


            .delete.custom-btn {
                background: rgba($red, 0.3);
                margin-top: 20px;
                color: $red !important;

                &::after {
                    background: $red !important;
                    color: $white !important;
                }


                &:hover {
                    background: $red !important;
                    color: $white !important;

                }
            }

        }

        .bank-info {


            p {
                font-size: 30px;
            }


            .card {
                padding: 12px 24px;
                height: 190px;
                background: $blue;
                border-radius: 10px;
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    background: rgba($white, 0.05);
                    left: 0;
                    height: 50px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg)
                }

                &::after {
                    left: -150px;
                    bottom: 90px
                }

                &::before {
                    height: 80px;
                    top: 0;
                    left: 100px
                }
            }

            .bank-name,
            .account-num {
                font-size: 18px;
                font-weight: bold;
                color: $white;
                position: absolute;
                bottom: 12px;
                left: 12px
            }


            .account-num {
                left: unset;
                right: 12px
            }



        }

        .card-info {
            &-container {
                margin-right: 0
            }

            p {
                font-size: 30px;
            }

            .card {
                padding: 12px 24px;
                height: 190px;
                width: 100%;
                background: $blue;
                border-radius: 10px;
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    border-top-left-radius: 75%;
                }

                &::after {
                    height: 100px;
                    border-top-right-radius: 60%;
                    background: rgba($white, 0.1);
                    z-index: 2
                }

                &::before {
                    height: 140px;
                    border-top-right-radius: 5%;
                    background: rgba($white, 0.05);
                }

                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: $white
                }

                .last-four {
                    position: absolute;
                    left: 24px;
                    top: 60%;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    font-size: 20px;
                    font-weight: bold;
                    color: $white
                }

                .chip {
                    position: absolute;
                    left: 24px;
                    top: 64px
                }

                .expiry {
                    position: absolute;
                    right: 24px;
                    bottom: 12px;
                }


                &-bank {
                    position: absolute;
                    left: 24px;
                    top: 12px
                }


                .brand-logo {
                    position: absolute;
                    right: 24px;
                    top: 12px
                }

                p {
                    text-transform: uppercase;
                    margin: 0;
                    position: absolute;
                    left: 24px;
                    bottom: 12px;
                    font-size: 16px;
                    font-weight: bold;
                    color: $white
                }


            }

        }

    }

    .form {
        .input-unit:first-of-type {
            margin-top: 0;
        }

        .submit-btn {
            width: 100%;
        }
    }


}